<div class="header fn-clear" ng-controller="HeaderController">
  <a href="javascript:void(0)" class="logo fn-left">
    <img src="" alt="">
    <span>广州市城市规划勘测设计研究院智慧规划师系统</span>
  </a>
  <ul class="header-nav fn-right">
    <li>
      <a href="javascript:void(0)">
        <img src="" alt="">
        <span>肖达</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="" alt="">
        <span>通知</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="" alt="">
        <span>帮助</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="vm.logout()">
        <img src="" alt="">
        <span>注销</span>
      </a>
    </li>
  </ul>
</div>
