<div class="header fn-clear" ng-controller="HeaderController">
  <a ui-sref="app.home" class="logo fn-left">
    <img src="" alt="">
    <span>广州市城市规划勘测设计研究院智慧规划师系统</span>
  </a>
  <ul class="header-nav fn-right">
    <li>
      <a href="javascript:void(0)">
        <span class="icon glyphicon glyphicon-user"></span>
        <span class="title">肖达</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon glyphicon glyphicon-comment active"></span>
        <i class="count">12</i>
        <span class="title">通知</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon glyphicon glyphicon-question-sign"></span>
        <span class="title">帮助</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="vm.logout()">
        <span class="icon glyphicon glyphicon-off"></span>
        <span class="title">注销</span>
      </a>
    </li>
  </ul>
</div>
