<div class="sidebar" ng-controller="SidebarController">
  <ul class="menu">
    <li>
      <a href="javascript:void(0)">
        <img src="components/sidebar/images/home.png" alt="">
        <span>首页</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="components/sidebar/images/data.png" alt="">
        <span>资料</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="components/sidebar/images/project.png" alt="">
        <span>项目</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="components/sidebar/images/talent.png" alt="">
        <span>人才</span>
      </a>
    </li>
  </ul>
</div>
